{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for='playername'>Name</label>
        <input name='playername' id='playername' required>
        <label for='password'>Password</label>
        <input name='password' id='password' required>
        <input type='submit' value='Register'>
    </form>
{% endblock %}

{% block footer %}
    <p>@ 2020 P.McNie</p>
{% endblock %}